*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: #F7F8FA;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
}


nav{
    background-color: #2E4049; 
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    color: white;
    font-size: 1.2rem;  
    position: relative;
    z-index: 1000; /* Z-index alto para garantir que o cabeçalho fique acima de outros elementos */  
}

/* Estilos adicionais para o menu fixo */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.redes-sociais, .paginacao{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.redes-sociais{
    gap: 1rem;
    padding-left: 2rem;
}

.redes-sociais img{
    width: 27px;
}

.menu-mobile{
    cursor: pointer;
    display: none;
}

.menu-mobile div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.paginacao{
    gap: 2rem;
    padding-right: 2rem;
}

.paginacao a{
    color: white;
    text-decoration: none;
}

.paginacao a:hover{
    border-bottom: solid 2px white;
    
}

.apresentacao-header-container{
    background-color: #567787;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    display: flex;
}

.card-apresentacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
   
}

.card-apresentacao img{
    width: 240px;
    max-height: 240px;
    border-radius: 3px;
}

.card-texto-apresentacao{
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-self: center;
    font-size: 1.2rem;
}

.card-texto-apresentacao h3{
    font-size: 1.6rem;
}

main section{
    margin-top: 3rem;
}

main section h2, main section p{
    text-align: center;
}

main section p{
    margin-top: 1.5rem;
}

.habilidades-card-container{
    margin-top: 3rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.card-habilidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-color: white;
    width: 300px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.card-habilidade ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*SECTION DE PROJETOS*/
#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards-projetos{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0px 2rem;
    margin-top: 2rem;
}

.card-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 320px;
    background-color: #e6f0f6;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card-projetos img{
    max-width: 300px;
}

.container-links-projetos{
    display: flex;
    flex-direction: column;
}

.container-links-projetos a{
    text-decoration: none;
    color: #013d5c;
    font-weight: 500;
    font-size: 1rem;
}

.container-links-projetos a:hover{
    border-bottom: 2px dotted rgb(11, 11, 111);
}

/*FIM DA SECTION PROJETOS*/

/*INICIO DA SECTION CONTATO*/
#emailForm{
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emailForm textarea{
    resize: none;
}

/*FIM DA SECTION CONTATO*/
#botao-topo img{
    width: 50px;
    border-radius: 50px;
}

#botao-topo img:hover{
    background-color: #d3eaf4;
}

/*Tratando da responsividade*/

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }

    .paginacao{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        background-color: #2E4049;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
        padding: 0px;

    }
    .paginacao li{
        margin-left: 0;
        opacity: 1;
    }
    .menu-mobile{
        display: block;
    }

    .paginacao.active{
        transform: translateX(0);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 2;
        transform: translateX(0);
    }
}
